.button {
    height: 45px;
    padding: 8px;
    width: 100%;
    font-weight: 600;
    border: transparent;
    background-color: cornflowerblue;
    color: white;
    max-width: 350px;
    border-radius: 8px;
    cursor: pointer;
}