$sizeMd: 100px; // 변수 정의
$sizeSm: 50px; // 변수 정의

// 믹스인 정의
@mixin padding-mixin {
  padding: 10px;
}

.box {
  width: $sizeMd;
  height: 100px;
  background-color: #61dafb;
  @include padding-mixin(); // @include 지시어를 사용하여 믹스인을 참조
}


.box2 {
  width: $sizeSm;
  height: 100px;
  background-color: cornflowerblue;
  @include padding-mixin(); // @include 지시어를 사용하여 믹스인을 참조
}